# venv environment folder
python_environment

# python cache files
__pycache__

# MacOS 
.DS_Store

# Local employee data and biometric templates
data/*
!data/.gitkeep

#rust target
target/
src-tauri/gen/schemas/
